<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="1">
	<listeners>
		<listener class-name="com.primepenguin.core.util.extentreports.TestListener" />
	</listeners>
	
	<test name="Prime Penguin Tests">
		<classes>
			<class name="com.primepenguin.test.WooCommerceTest" />
		</classes>
	</test>
	
</suite>